.container {
    height: 100%;
    width: 100%;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: #fff;

    .login-input {
        margin-bottom: 1rem;
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: solid 2px #fff;
        font-size: 18px;
        color: #fff;
    }

    .login-btn {
        margin-top: 2rem;
        width: 100%;
        height: 3rem;
        background-color: transparent;
        border: solid 2px #fff;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .login-btn:hover {
        background-color: rgb(98, 228, 11);
        border: none;
    }
}